<section class="anything">
   <h2 class="main-title">У нас можно оформить и сделать медицинские справки любой категории:</h2>

   <div class="main-slider-block anything-up-block">
        <div class="swiper-container main-slider anything-up-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <a href="#" class="anything-up-item">Медсправки для ГИБДД <span>3</span></a>
                </div>

                <div class="swiper-slide">
                    <a href="#" class="anything-up-item">Медсправки для работы <span>3</span></a>
                </div>

                <div class="swiper-slide">
                    <a href="#" class="anything-up-item">Медсправки для учебы <span>3</span></a>
                </div>

                <div class="swiper-slide">
                    <a href="#" class="anything-up-item">Медсправки для детей <span>2</span></a>
                </div>

                <div class="swiper-slide">
                     <a href="#" class="anything-up-item">Справки для отдыхающих <span>4</span></a>
                </div>

                <div class="swiper-slide">
                     <a href="#" class="anything-up-item">Справки для занятия спортом <span>2</span></a>
                </div>

                <div class="swiper-slide">
                     <a href="#" class="anything-up-item">Другие медсправки <span>9</span></a>
                </div>

            </div>
            
        </div>


        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>


   </div>


   <div class="main-slider-block anything-bottom-block">
        <div class="swiper-container main-slider anything-bottom-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                   <div class="anything-bottom-item">
                     <span class="img"><img src="img/ph1.jpg"></span>
                     <h3><a href="#">Медсправка для категории А, В 003в/у</a> <span>?</span></h3>
                     <p>
                        <span>Стоимость: </span><span>от 1 200 руб.</span>
                     </p>
                     <a class="btn anything-btn" href="#">Записаться на комиссию</a>
                   </div>
                </div>

                 <div class="swiper-slide">
                   <div class="anything-bottom-item">
                     <span class="img"><img src="img/ph2.jpg"></span>
                     <h3><a href="#">Справка для категории А, В + нарколог и психиатр 003в/у</a> <span>?</span></h3>
                     <p>
                        <span>Стоимость: </span><span>от 2 500 руб.</span>
                     </p>
                     <a class="btn anything-btn" href="#">Записаться на комиссию</a>
                   </div>
                </div>

                 <div class="swiper-slide">
                   <div class="anything-bottom-item">
                     <span class="img"><img src="img/ph3.jpg"></span>
                     <h3><a href="#">Справка для категории С, D, E с ЭЭГ+ нарколог и психиатр 003в/у</a> <span>?</span></h3>
                     <p>
                        <span>Стоимость: </span><span>от 2 800 руб.</span>
                     </p>
                     <a class="btn anything-btn" href="#">Записаться на комиссию</a>
                   </div>
                </div>

                 <div class="swiper-slide last">
                   <div class="anything-bottom-item">
                     <span class="img"><img src="img/ph1.jpg"></span>
                     <h3><a href="#">Медсправка для категории А, В 003в/у</a> <span>?</span></h3>
                     <p>
                        <span>Стоимость: </span><span>от 1 200 руб.</span>
                     </p>
                     <a class="btn anything-btn" href="#">Записаться на комиссию</a>
                   </div>
                </div>

            </div>  
        </div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>


   </div>


</section>

<section class="advantages">
    <h2 class="main-title">Наши преимущества</h2>

    <div class="main-slider-block advantages-block">
        <div class="swiper-container main-slider advantages-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <p class="advantages-item">
                        <img src="img/pharmacy.png" alt="pharmacy">
                    </p>
                    
                    <h3 class="advantages-title">Более 20 лет<br> опыта </h3>
                </div>

                <div class="swiper-slide">
                    <p class="advantages-item">
                        <img src="img/pharmacist-icon.png" alt="pharmacist-icon">
                    </p>

                    <h3 class="advantages-title">500 врачей более чем <br>40 специальностей </h3>
                </div>

                <div class="swiper-slide">
                    <p class="advantages-item">
                        <img src="img/healthcare-and-medical.png" alt="healthcare-and-medical">
                    </p>

                    <h3 class="advantages-title">Работа без выходных и<br> праздничных дней</h3>
                </div>

                <div class="swiper-slide">
                    <p class="advantages-item">
                        <img src="img/loc-icon.png" alt="loc-icon">
                    </p>

                    <h3 class="advantages-title">Удобное расположение<br> клиник</h3>
                </div>

                <div class="swiper-slide">
                    <p class="advantages-item">
                        <img src="img/helth-ob.png" alt="helth-ob">
                    </p>

                    <h3 class="advantages-title">Современный <br> диагностический <br> комплекс</h3>
                </div>

                <div class="swiper-slide">
                    <p class="advantages-item">
                        <img src="img/supermarket.png" alt="supermarket">
                    </p>

                    <h3 class="advantages-title">Низкие цены в <br> проверенных клиниках</h3>
                </div>

            </div>
            
            <div class="swiper-pagination"></div>
        </div>


        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>
</section>

<section class="services">
    <h2 class="main-title services__title">Стоимость и услуги</h2>

    <table class="services__table">
        <thead>
        <tr>
            <th>Наименование медсправки</th>
            <th class="services__table-hide">Цена</th>
            <th class="services__table-hide">Время медкомиссии</th>
            <th class="services__table-hide">Онлайн запись на комиссию</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="name"><a class="link" href="#">Справка для категорий А, А1, В, В1, М, ВЕ</a></td>
            <td><span class="title-time">Цена:</span><span class="price">2 100 руб.</span></td>
            <td class=""><span class="title-time">Время медкомиссии:</span><span class="time">от30 мин</span></td>
            <td class="order-block"><a class="btn order" href="#">Записаться на комиссию</a></td>
        </tr>
        <tr>
            <td class="name"><a class="link" href="#">Медсправка на оружие 002-О/у</a></td>
            <td><span class="title-time">Цена:</span><span class="price">2 500 руб.</span></td>
            <td class="time-block"><span class="title-time">Время медкомиссии:</span><span class="time">от30 мин</span></td>
            <td class="order-block"><a class="btn order" href="#">Записаться на комиссию</a></td>
        </tr>
        <tr>
            <td class="name"><a class="link" href="#">Справка на работу 086/у</a></td>
            <td><span class="title-time">Цена:</span><span class="price">1 500 руб.</span></td>
            <td class="time-block"><span class="title-time">Время медкомиссии:</span><span class="time">от30 мин</span></td>
            <td class="order-block"><a class="btn order" href="#">Записаться на комиссию</a></td>
        </tr>
        <tr>
            <td class="name"><a class="link" href="#">Справка на госслужбу 001 гс/у</a></td>
            <td><span class="title-time">Цена:</span><span class="price">1 250 руб.</span></td>
            <td class="time-block"><span class="title-time">Время медкомиссии:</span><span class="time">от30 мин</span></td>
            <td class="order-block"><a class="btn order" href="#">Записаться на комиссию</a></td>
        </tr>
        <tr>
            <td class="name"><a class="link" href="#">Справка для категорий С, С1, D, D1, CE, C1E, D1E, DE, Tm, Tb</a></td>
            <td><span class="title-time">Цена:</span><span class="price">1 400 руб.</span></td>
            <td class="time-block"><span class="title-time">Время медкомиссии:</span><span class="time">от30 мин</span></td>
            <td class="order-block"><a class="btn order" href="#">Записаться на комиссию</a></td>
        </tr>
        </tbody>
    </table>
</section>

<section class="new-form">
    <h2 class="main-title">Медсправка водительская по новой форме 003-в/у</h2>

     <p class="text">Кроме того, для того чтобы получить справку 003-в/у в ГИБДД , вам потребуется пройти определенные методы инструментальной диагностики <span class="hide">. Необходимо сдать кровь и мочу для обнаружения в организме наркотических веществ и психотропных препаратов. Обратите внимание, что анализы сдают не все водители, а только те, у которых имеются признаки заболеваний, выступающих в качестве противопоказаний к управлению транспортным средством. Иными словами, инструментальные методы диагностики назначаются психиатром или наркологом по своему усмотрению.</span><a><span class="points">...</span> <span class="next">далее</span></a></p>

    <ul>
        <li>
            <a href="#">Справка для категорий А, А1, В, В1, М, ВЕ (003-в/у)</a>
        </li>
        <li>
            <a href="#">Справка для категорий С, С1, D, D1, CE, C1E, D1E, DE, Tm, Tb (003-в/у)</a>
        </li>
        <li>
            <a href="#">Справка для международных водительских прав</a>
        </li>
        <li class="item-hide">
            <a href="#">ЭЭГ (электроэнцефалограмма головного мозга) в ГИБДД</a>
        </li>
        <li>
            <a href="#">Справка для категорий С, С1, D, D1, CE, C1E, D1E, DE, Tm, Tb (003-в/у)</a>
        </li>
        <li>
            <a href="#">Справка для международных водительских прав</a>
        </li>
        <li class="item-hide">
            <a href="#">Справка для категорий А, А1, В, В1, М, ВЕ (003-в/у)</a>
        </li>
        <li class="item-hide">
            <a href="#">Справка для категорий С, С1, D, D1, CE, C1E, D1E, DE, Tm, Tb (003-в/у)</a>
        </li>
        <li class="item-hide">
            <a href="#">Справка для международных водительских прав</a>
        </li>
    </ul>
</section>

<section class="license">
    <h2 class="main-title">Наши лицензии</h2>

    <div class="main-slider-block license-block">
        <div class="swiper-container main-slider license-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <p class="license-item">
                        <img src="img/license-1.jpg" alt="Лицензия">
                    </p>
                </div>

                <div class="swiper-slide">
                    <p class="license-item">
                        <img src="img/license-2.jpg" alt="Лицензия">
                    </p>
                </div>

                <div class="swiper-slide">
                    <p class="license-item">
                        <img src="img/license-3.jpg" alt="Лицензия">
                    </p>
                </div>

                <div class="swiper-slide">
                    <p class="license-item">
                        <img src="img/license-4.jpg" alt="Лицензия">
                    </p>
                </div>

                <div class="swiper-slide">
                    <p class="license-item">
                        <img src="img/license-5.jpg" alt="Лицензия">
                    </p>
                </div>

            </div>
            
            <div class="swiper-pagination"></div>
        </div>


        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>
</section>