.header-desctop
    .header-desctop__cont.container
        .header-desctop__item.header-desctop__item_left
            button(type="button").burger

            .logo
                .logo__img
                    img(src="img/logo-main.png")
                ul
                    li
                        .logo__name 
                            span MED
                            span СПРАВКИ
                    li
                        .logo__article все справки в одном месте

        .header-desctop__item.header-desctop__item_center
            ul.top-menu
                li
                    a(href="#") О компании
                li
                    a(href="#") Лицензии
                li
                    a(href="#") Для организаций
                li
                    a(href="#") Контакты

            ul.main-menu
                li
                    a(href="#").med-list Медицинские справки
                li
                    a(href="#").med-book Медкнижки
                li
                    a(href="#").med-prof Профосмотры
                li
                    a(href="#").med-caught Больничные листы

        ul.header-desctop__item.header-desctop__right
            li
                a(href="tel:84951169387").call-link 8 (495) 116-93-87
            li
                .timework Ежедневно с 9:00 до 21:00

.hidden-menu-dsc
    .container
        ul.hidden-menu-dsc__top
            li
                |Медсправки для ГИБДД
            li
                |Медсправки для работы
            li
                |Медсправки для учебы
            li
                |Популярные медсправки

        .hidden-menu-dsc__bottom
            ul.hidden-menu-dsc__links
                li
                    a(href="#") Медсправка для категории А, В 003в/у
                li
                    a(href="#") Справка для категории А, В + нарколог и психиатр 003в/у
                li
                    a(href="#") Справка для категории С, D, E с ЭЭГ+ нарколог и психиатр 003в/у

            ul.hidden-menu-dsc__links
                li
                    a(href="#") Справка (заключение) о профпригодности по приказу 302н
                li
                    a(href="#") Медицинская справка для госслужбы 001-ГС/у
                li
                    a(href="#") Справка в ФМС для РВП / ВНЖ / разрешения на работу
                li
                    a(href="#") Больничные листы

            ul.hidden-menu-dsc__links
                li
                    a(href="#") Справка о временной нетрудоспособности учащихся 095/у
                li
                    a(href="#") Медицинская справка в бассейн 083/4-89
                li
                    a(href="#") Медицинская справка в бассейн 083/4-89

            ul.hidden-menu-dsc__links
                li
                    a(href="#") Медицинская справка в бассейн 083/4-89
                li
                    a(href="#") Медсправка на оружие
                li
                    a(href="#") Освобождение от физкультуры
